.git-item-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.git-flex-1,
.git-flex-2,
.git-flex-3 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.git-flex-2 {
  flex-direction: column;
}

.git-item-hr {
  width: 100%;
}

.git-item-1 {
  width: 90%;
}

.git-item-2 {
  width: 10%;
}

.git-item-3 {
  width: 100%;
}

/* medium */
@media only screen and (min-width: 576px) and (max-width: 775px) {
  .git-item-1 {
    width: 45%;
  }

  .git-item-2 {
    width: 5%;
  }

  .git-item-3 {
    width: 50%;
  }
}

/* large */
@media only screen and (min-width: 776px) and (max-width: 5000px) {
  .git-flex-2 {
    flex-direction: column;
    width: 50%;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .git-item-1 {
    width: 35%;
  }

  .git-item-2 {
    width: 5%;
  }

  .git-item-3 {
    width: 60%;
  }
}
